input{
    display: flex;
    height: 30px;
    width: 300px;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.767);
}

form{
    align-items: center;
    justify-content: center;
    margin:  auto;
    border: solid 1px; 
    border-color: rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    padding: 25px 15px 20px 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.cad-buttom{
    background-color: #3c3ffa;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.cad-buttom:hover {
    background-color: #3939ff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
